html {
  --text: #d3f8eb;
  --background: #010403;
  --primary: #7dc5d4;
  --secondary: #0a111f;
  --accent: #dc2867;
}

.root {
  position: fixed;
  padding: 0;
  margin: 0;

  overflow-y: scroll;
  overflow-x: hidden;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: var(--background);
}

table {
  background-color: var(--secondary);
}

tr:nth-child(even) {
  background-color: var(--background);
}
tr:nth-child(odd) {
  background-color: var(--secondary);
}
tr {
  color: var(--text);
  border: 1px solid var(--primary);
}

.App {
  text-align: center;
}

.controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3%;
  color: var(--text);
}

.controllerperpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.viewBox {
  width: 98%;
  padding: 1%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.headerButton {
  background-color: var(--primary);
  border: none;
  height: 40px;
  color: var(--accent);
  font-size: 16px;
  font-weight: 300;
}

input {
  background-color: var(--secondary);
  color: var(--text);
  border: 2px solid var(--accent);
}

.dropdown {
  position: relative;
}

.dropdownButton {
  background-color: var(--secondary);
  color: var(--text);
  border: 2px solid var(--accent);
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid var(--accent);
  width: 150px;
}

.menu>li {
  margin: 0;

  background-color: var(--background);
}

.menu>li:hover {
  background-color: var(--secondary);
}

.menu>li>button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: var(--text);
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.viewLoading {
  color: var(--text);
}