html {
    --text: #d3f8eb;
    --background: #010403;
    --primary: #7dc5d4;
    --secondary: #0a111f;
    --accent: #dc2867;
}

.banner {
    width: 40%;
    margin: 5%;
    margin-top: 2%;
}

.info {
    width: 50%;
}

.text {
    color: var(--text);
}
p {
    color: var(--text);
}

.descText {
    margin-left: 5%;
    margin-right: 5%;
}

.bannerImage {
    width: 100%;
    height: auto;
    border: 5px solid var(--accent);
}

.toparea {
    display: flex;
    flex-direction: row;
}

.gameview {
    background-color: var(--background);
    width: 100%;
    height: 100%;
}

.gamename {
    text-decoration: underline;
    text-decoration-color: var(--primary);
}

.root {
    position: fixed;
    padding: 0;
    margin: 0;

    overflow-y: scroll;
    overflow-x: hidden;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: var(--secondary);
}

.loading {
    align-self: center;
    text-align: center;
    color: var(--text);
}

html, body {
    height: 100%;
}

.screenshots {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    gap: 10px;
    width: 100%;
    height: 40%;
    margin-top: 2%;
    

    padding-left: 2%;
    padding-right: 2%;


    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
.screenshots::-webkit-scrollbar {
    display: none;
}

.screenshot {
    height: 30%;
    width: 30%;
}

.advinfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
    background-color: var(--secondary);
    justify-content: center;
}

.unknown {
    text-align: center;
    color: var(--text);
    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}